@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&family=Montserrat:wght@500;700&family=Open+Sans:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: 'Hanken Grotesk', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(46, 46, 90);
  color: black;

}

